<div>
    <h2 id="page-heading">
        <span>Trailers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-trailer" [routerLink]="['/trailer/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Trailer
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="trailers?.length === 0">
        <span>No trailers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="trailers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Titulo</span></th>
                    <th scope="col" ><span>Url</span></th>
                    <th scope="col" ><span>Contenido</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trailer of trailers ;trackBy: trackId">
                    <td><a [routerLink]="['/trailer', trailer.id, 'view']">{{ trailer.id }}</a></td>
                    <td>{{ trailer.titulo }}</td>
                    <td>{{ trailer.url }}</td>
                    <td>
                        <div *ngIf="trailer.contenido">
                            <a [routerLink]="['/contenido', trailer.contenido?.id, 'view']" >{{ trailer.contenido?.titulo }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/trailer', trailer.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/trailer', trailer.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(trailer)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
