<div>
    <h2 id="page-heading">
        <span>Capitulos</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-capitulo" [routerLink]="['/capitulo/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Capitulo
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="capitulos?.length === 0">
        <span>No capitulos found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="capitulos?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="titulo"><span>Titulo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numero"><span>Numero</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="sinopsis"><span>Sinopsis</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="logline"><span>Logline</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="caratula"><span>Caratula</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="duracion"><span>Duracion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="vimeoID"><span>Vimeo ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="temporada.id"><span>Temporada</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let capitulo of capitulos ;trackBy: trackId">
                    <td><a [routerLink]="['/capitulo', capitulo.id, 'view']">{{ capitulo.id }}</a></td>
                    <td>{{ capitulo.titulo }}</td>
                    <td>{{ capitulo.numero }}</td>
                    <td>{{ capitulo.sinopsis }}</td>
                    <td>{{ capitulo.logline }}</td>
                    <td>{{ capitulo.caratula }}</td>
                    <td>{{ capitulo.duracion }}</td>
                    <td>{{ capitulo.vimeoID }}</td>
                    <td>
                        <div *ngIf="capitulo.temporada">
                            <a [routerLink]="['/temporada', capitulo.temporada?.id, 'view']" >{{ capitulo.temporada?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/capitulo', capitulo.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/capitulo', capitulo.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(capitulo)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="capitulos?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
