<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="teaser">
            <h2><span>Teaser</span> {{ teaser.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Titulo</span></dt>
                <dd>
                    <span>{{ teaser.titulo }}</span>
                </dd>
                <dt><span>Url</span></dt>
                <dd>
                    <span>{{ teaser.url }}</span>
                </dd>
                <dt><span>Contenido</span></dt>
                <dd>
                    <div *ngIf="teaser.contenido">
                        <a [routerLink]="['/contenido', teaser.contenido?.id, 'view']">{{ teaser.contenido?.titulo }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/teaser', teaser.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
