<div>
    <h2 id="page-heading">
        <span>Teasers</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-teaser" [routerLink]="['/teaser/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Teaser
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="teasers?.length === 0">
        <span>No teasers found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="teasers?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Titulo</span></th>
                    <th scope="col" ><span>Url</span></th>
                    <th scope="col" ><span>Contenido</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let teaser of teasers ;trackBy: trackId">
                    <td><a [routerLink]="['/teaser', teaser.id, 'view']">{{ teaser.id }}</a></td>
                    <td>{{ teaser.titulo }}</td>
                    <td>{{ teaser.url }}</td>
                    <td>
                        <div *ngIf="teaser.contenido">
                            <a [routerLink]="['/contenido', teaser.contenido?.id, 'view']" >{{ teaser.contenido?.titulo }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/teaser', teaser.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/teaser', teaser.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(teaser)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
